<main>
    <section class="bd-breadcrumb-area p-relative fix theme-bg">
        <div class="bd-breadcrumb-bg"></div>
        <div class="bd-breadcrumb-wrapper mb-60 p-relative">
            <div class="container">
                <div class="bd-breadcrumb-shape d-none d-sm-block p-relative">
                    <div class="bd-breadcrumb-shape-1">
                        <img src="assets/img/shape/curved-line-2.png" alt="img not found!">
                    </div>
                    <div class="bd-breadcrumb-shape-2">
                        <img src="assets/img/shape/white-curved-line.png" alt="img not found!">
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-xl-10">
                        <div class="bd-breadcrumb d-flex align-items-center justify-content-center">
                            <div class="bd-breadcrumb-content text-center">
                                <h1 class="bd-breadcrumb-title">Page 404</h1>
                                <div class="bd-breadcrumb-list">
                                    <span><a routerLink=""><i class="flaticon-hut"></i>Accueil</a></span>
                                    <span>Page 404</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bd-wave-wrapper bd-wave-wrapper-3">
            <div class="bd-wave bd-wave-3"></div>
            <div class="bd-wave bd-wave-3"></div>
        </div>
    </section>

    <section class="bd-erro-area pt-120 pb-120">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6">
                    <div class="bd-section-title-wrapper mb-45">
                        <h2 class="bd-section-title mb-0">OOPS! PAGE NON TROUVÉE!</h2>
                        <p>La page que vous recherchez n'existe pas ou vous n'êtes pas autorisé à y accéder</p>
                    </div>
                    <div class="bd-error-btn">
                        <a routerLink="" class="bd-btn">
                            <span class="bd-btn-inner">
                                <span class="bd-btn-normal d-flex align-items-center"><i class="flaticon-hut"></i>Retour
                                    à la page d'accueil</span>
                                <span class="bd-btn-hover d-flex align-items-center"><i class="flaticon-hut"></i>Retour
                                    à la page d'accueil</span>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="bd-error-thumb-wrapper">
                        <div class="bd-error-thumb">
                            <img src="assets/img/bg/error-404.svg" alt="img not found!">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>