<main>
    <section class="bd-breadcrumb-area p-relative fix theme-bg">
        <div class="bd-breadcrumb-bg"></div>
        <div class="bd-breadcrumb-wrapper mb-60 p-relative">
            <div class="container">
                <div class="bd-breadcrumb-shape d-none d-sm-block p-relative">
                    <div class="bd-breadcrumb-shape-1">
                        <img src="assets/img/shape/curved-line-2.png" alt="img not found!">
                    </div>
                    <div class="bd-breadcrumb-shape-2">
                        <img src="assets/img/shape/white-curved-line.png" alt="img not found!">
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-xl-10">
                        <div class="bd-breadcrumb d-flex align-items-center justify-content-center">
                            <div class="bd-breadcrumb-content text-center">
                                <h1 class="bd-breadcrumb-title">Consignes</h1>
                                <div class="bd-breadcrumb-list">
                                    <span><a routerLink=""><i class="flaticon-hut"></i>Accueil</a></span>
                                    <span>Consignes</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bd-wave-wrapper bd-wave-wrapper-3">
            <div class="bd-wave bd-wave-3"></div>
            <div class="bd-wave bd-wave-3"></div>
        </div>
    </section>

    <section class="bd-blog-details-area pt-100 pb-60">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="bd-section-title-wrapper z-index-1 p-relative text-center mb-55 wow fadeInUp"
                        data-wow-duration="1s" data-wow-delay=".2s">
                        <h2 class="bd-section-title mb-0"> Le Jour de L'examen </h2>
                        <p>With the help of teachers and the environment as the third teacher, students<br> have
                            opportunities to confidently take risks.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="bd-blog-details wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                        <div class="bd-blog-details-quote wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                            <blockquote class="bd-blog-quote">
                                <div class="bd-blog-quote-icon">
                                    <i class="fa-light fa-address-card"></i>
                                </div>
                                <div class="bd-blog-quote-content">
                                    <p>N'oubliez surtout pas votre convocation et votre carte d’identité. </p>
                                </div>
                            </blockquote>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="bd-blog-details wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                        <div class="bd-blog-details-quote wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                            <blockquote class="bd-blog-quote">
                                <div class="bd-blog-quote-icon">
                                    <i class="fa-light fa-calculator"></i>
                                </div>
                                <div class="bd-blog-quote-content">
                                    <p>N’oubliez pas non plus : votre stylo, votre montre, votre calculatrice visée
                                        (pensez à vérifier vos piles).</p>
                                </div>
                            </blockquote>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="bd-blog-details wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                        <div class="bd-blog-details-quote wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                            <blockquote class="bd-blog-quote">
                                <div class="bd-blog-quote-icon">
                                    <i class="fa-light fa-clock-seven"></i>
                                </div>
                                <div class="bd-blog-quote-content">
                                    <p>N' arrivez pas en retard (il faut arriver avant que les sujets ne soient
                                        distribués aux candidats). </p>
                                </div>
                            </blockquote>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="bd-blog-details wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                        <div class="bd-blog-details-quote wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                            <blockquote class="bd-blog-quote">
                                <div class="bd-blog-quote-icon">
                                    <i class="fa-light fa-screen-users"></i>
                                </div>
                                <div class="bd-blog-quote-content">
                                    <p>Il vous est interdit de parler avec vos collègues durant l'examen. </p>
                                </div>
                            </blockquote>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="bd-blog-details wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                        <div class="bd-blog-details-quote wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                            <blockquote class="bd-blog-quote">
                                <div class="bd-blog-quote-icon">
                                    <i class="fa-light fa-people-arrows"></i>
                                </div>
                                <div class="bd-blog-quote-content">
                                    <p>Il vous est également interdit de prêter du matériel à vos voisins (sans demander
                                        la permission aux professeurs-surveillants). </p>
                                </div>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>