<header>
    <div class="bd-header">
        <div id="header-sticky" class="bd-header-bottom ">
            <div class="container">
                <div class="mega-menu-wrapper p-relative">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="bd-header-logo">
                            <a routerLink="">
                                <img src="assets/img/BTH/logoo.png" alt="logo">
                            </a>
                        </div>
                        <div class="bd-main-menu d-none d-lg-flex align-items-center">
                            <nav id="mobile-menu">
                                <ul>
                                    <li>
                                        <a routerLink="">Accueil</a>
                                    </li>
                                    <li>
                                        <a href="about.html">A propos</a>
                                    </li>
                                    <li>
                                        <a routerLink="bac">Le bac</a>
                                    </li>
                                    <li>
                                        <a routerLink="consignes">Consignes</a>
                                    </li>
                                    <li>
                                        <a routerLink="apresbac">Aprés le bac</a>
                                    </li>
                                    <li>
                                        <a routerLink="contact">Contact</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="bd-header-bottom-right d-flex justify-content-end align-items-center">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>