<main>
    <section class="bd-breadcrumb-area p-relative fix theme-bg">
        <div class="bd-breadcrumb-bg"></div>
        <div class="bd-breadcrumb-wrapper mb-60 p-relative">
            <div class="container">
                <div class="bd-breadcrumb-shape d-none d-sm-block p-relative">
                    <div class="bd-breadcrumb-shape-1">
                        <img src="assets/img/shape/curved-line-2.png" alt="img not found!">
                    </div>
                    <div class="bd-breadcrumb-shape-2">
                        <img src="assets/img/shape/white-curved-line.png" alt="img not found!">
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-xl-10">
                        <div class="bd-breadcrumb d-flex align-items-center justify-content-center">
                            <div class="bd-breadcrumb-content text-center">
                                <h1 class="bd-breadcrumb-title">Contact</h1>
                                <div class="bd-breadcrumb-list">
                                    <span><a routerLink=""><i class="flaticon-hut"></i>Accueil</a></span>
                                    <span>Contact</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bd-wave-wrapper bd-wave-wrapper-3">
            <div class="bd-wave bd-wave-3"></div>
            <div class="bd-wave bd-wave-3"></div>
        </div>
    </section>

    <section class="bd-contact-info-area pt-120 pb-95">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="bd-contact-info-wrap mb-30 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                        <div class="bd-contact-info">
                            <div class="bd-contact-info-content">
                                <div class="bd-contact-info-icon cat-1">
                                    <a href="tel:20838507"><i class="flaticon-phone-call"></i></a>
                                </div>
                                <h6><a href="tel:20838507">+216 208 385 07</a></h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="bd-contact-info-wrap mb-30 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                        <div class="bd-contact-info">
                            <div class="bd-contact-info-content">
                                <div class="bd-contact-info-icon cat-2">
                                    <a href="https://maps.app.goo.gl/61EByj53Evm8ynmK8"><i
                                            class="flaticon-location-pin"></i></a>
                                </div>
                                <h6><a href="https://maps.app.goo.gl/61EByj53Evm8ynmK8">Jemmel 5020, Monastir,
                                        Tunisie</a></h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="bd-contact-info-wrap mb-30 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                        <div class="bd-contact-info">
                            <div class="bd-contact-info-content">
                                <div class="bd-contact-info-icon cat-3">
                                    <a href="mailto:chaymafarhat16@gmail.com"><i class="flaticon-email"></i></a>
                                </div>
                                <h6><a href="mailto:chaymafarhat16@gmail.com">chaymafarhat16&#64;gmail.com</a></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bd-contact-area pb-60">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 mb-60">
                    <div class="bd-contact-form wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".3s">
                        <h3 class="bd-contact-form-title mb-25">Contactez-nous ici</h3>
                        <form action="matilto:webmaster@inbmi.edunet.tn">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="bd-contact-input mb-30">
                                        <label for="name">Nom et Prénom <sup><i
                                                    class="fa-solid fa-star-of-life"></i></sup></label>
                                        <input id="name" type="text">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="bd-contact-input mb-30">
                                        <label for="email">Email <sup><i
                                                    class="fa-solid fa-star-of-life"></i></sup></label>
                                        <input id="email" type="email">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="bd-contact-input mb-20">
                                        <label for="textarea">Commentaires <sup><i
                                                    class="fa-solid fa-star-of-life"></i></sup></label>
                                        <textarea name="textarea" id="textarea"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="bd-contact-agree-btn">
                                        <button type="submit" class="bd-btn">
                                            <span class="bd-btn-inner">
                                                <span class="bd-btn-normal">Envoyer</span>
                                                <span class="bd-btn-hover">Envoyer</span>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-xl-6 mb-60">
                    <div class="bd-contact-map wow fadeInRight" data-wow-duration="1s" data-wow-delay=".3s">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25946.19301471916!2d10.738856504258365!3d35.620968032619515!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x13020f9eece33c61%3A0x54d0813bc5281d07!2sJemmal%2C%20Tunisia!5e0!3m2!1sen!2sbd!4v1706277807002!5m2!1sen!2sbd"
                            style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>